<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="path1" value="D:\TEST1\" />
    <add key="path2" value="D:\TEST2\" />
    <add key="defaultPath" value="D:\" />
    <add key="nameFile" value="*.txt" />
  </appSettings>
</configuration>